<!DOCTYPE html>
<html ng-app="store">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	</head>
	<body ng-controller="StoreController as store"> 
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<div ng-repeat="product in store.products" ng-hide="product.soldOut" class="form-control col-lg-4 offset-lg-4 text-center">
			<h1>{{product.name}} </h1>
			<h2>{{product.price | currency }} </h2>
			
			<button ng-show="store.product.canPurchase">Add to Cart </button>
			<img ng-src="{{product.imgSrc}}" width="200" height="200"/>

			<section ng-init="tab = 1" ng-controller="PanelController as panel">
				<ul class="nav nav-pills navbar navbar-default">
					<li ng-class="{ active:panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
					<li ng-class="{ active:panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">Specific.</a> </li>
					<li ng-class="{ active:panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)">Reviews</a></li>
				</ul>

				<div class="panel" ng-show="panel.isSelected(1)">
					<h4> Description </h4>
					<p>{{product.description}} </p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4> Specifications </h4>
					<blockquote>None yet</blockquote>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)" style="overflow-y: scroll; overflow-x: hidden; max-height: 300px; ">
					<h4> Reviews </h4>
					<blockquote ng-repeat="review in product.reviews">
						<b>Stars: {{review.stars}}</b>
						{{review.body}}
						<p>by: {{review.author}}</p>
					</blockquote>

					<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
						<blockquote>
						<b>Stars: {{reviewCtrl.review.stars}}</b>
						{{reviewCtrl.review.body}}
						<p>{{reviewCtrl.review.author}}</p>
						</blockquote>
						<select ng-model="reviewCtrl.review.stars" class="form-control">
							<option value="5">5 Stars</option>
							<option value="4">4 Stars</option>
						</select>
						<textarea ng-model="reviewCtrl.review.body" class="form-control"></textarea>
				
						<input class="form-control" type="email" ng-model="reviewCtrl.review.author">
						<input class="form-control" type="submit" value="submit">
				</div>
			</section>
		</div>
	</body>
</html>		
